extends ../../layout/layout
block title
	title О клубе
block content
	main(data-barba="container" data-barba-namespace="about")
		.inner
			.title-box._br
				.title-box__bg
					+picture('about','jpg')
				.title-box__content
					h1.title-box__title-1 О КЛУБЕ
					.h1.title-box__title-2 Когда 
						i ночи 
						| мало
			.block(data-scroll data-scroll-delay="0.6") 
				.block__head-row
					.block__head._only-desc._mini Кто мы
					.block__head Грандиозные афтепати Москвы
				.block__body
					h2 Москва всегда 
						i в поисках 
							br 
							| нового. 
						| Ей мало ночи.
					p Мы жадно ищем места с вдохновляющими  людьми и музыкой. Этот Микс собирается  только к утру. Атмосфера, звук, бар, красивые  тела и лица — здесь всё готово к выходу  за пределы. Начинается афтэпати.
			.block(data-scroll data-scroll-delay="0.6") 
				.block__head Интерьер
				.block__body
					h2 Интерьер клуба смиксован так, 
						br
						| что&nbsp;
						i каждое ваше утро становится особым. 
						| Стиль, роскошь, изысканная красота — это ДНК нашего декора.
			.photo-slider
				.photo-slider__swiper.swiper 
					.swiper-wrapper
						.swiper-slide 
							.photo-slider__photo
								+picture('a-s-1','jpg')
							.photo-slider__desc Центральная лестница
						.swiper-slide 
							.photo-slider__photo
								+picture('a-s-2','jpg')
							.photo-slider__desc Приватная комната
						.swiper-slide
							.photo-slider__photo
								+picture('a-s-3','jpg')
							.photo-slider__desc Приватная комната
				.photo-slider__cursor
					img(src="img/slider-cursor.svg", alt="")
			.block(data-scroll data-scroll-delay="0.6") 
				.block__head Правила клуба
				.block__body
					h2 Стиль и уровень нашего заведения подразумевают определенный дресскод: 
						i hi-end streetwear + casual + classic. 	
						br
						| Особо приветствуем уникальные костюмы на наших тематических вечеринках. 

					p Оставляйте за порогом плохие мысли и любые виды оружия — мы за мирный и вежливый отдых.
			.next-page 
				.next-page__wrap
					.next-page__bg
						+picture('afisha','jpg')
					.next-page__content
						a.next-page__title-1(href="afisha.html") Афиша
						.h1.next-page__title-2 Твоя 
							i ночь 
							| в миксе

					.next-page__number 02
					a.next-page__next(href="afisha.html") Далее

