.title-box {
	position: relative;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 113px;
	padding-top: 100px;

	@media(max-width:1024px) {
		margin-bottom: 80px;
	}

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::after {
			opacity: 0.3;
			background: #191D1C;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			content: '';
		}
	}

	&__content {
		position: relative;
	}

	&__title-1 {
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 250%;
		@include clampf(12px, 16px);
		letter-spacing: 11.2px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
}

.arrow-link-b {
	color: rgba(79, 79, 79, 1);
	text-decoration: none;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
	display: flex;
	flex-direction: row;
	gap: 33px;
	align-items: center;
	transition: color 0.3s;

	svg {
		transform: translateY(-1px);
	}

	@media(max-width:992px) {
		gap: 9px;
		line-height: initial;
		font-size: 12px;
	}

	&:hover {
		color: #fff;
	}

	path {
		stroke: currentColor;
	}
}

.arrow-link {
	color: $orange;
	text-decoration: none;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
	display: flex;
	flex-direction: row;
	gap: 33px;
	align-items: center;
	transition: color 0.3s;
	border: 0;
	padding: 0;
	background: transparent;

	@media(max-width:992px) {
		font-size: 12px;
		gap: 9px;
		line-height: initial;
	}

	svg {
		transform: translateY(-1px);
	}

	path {
		stroke: currentColor;
	}
}

._mr-auto {
	margin-right: auto;
}

.block {
	margin-bottom: 77px;
	position: relative;

	&__tabs {
		display: flex;
		flex-direction: row;
		gap: 47px;


		@media(max-width:500px) {
			justify-content: space-between;
		}

		@media(max-width:992px) {
			gap: 15px;
		}
	}

	&__tab {
		border: 0;
		padding: 0;
		background: transparent;
		color: #FFF;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 40px;
		cursor: pointer;
		text-decoration: none;

		@media(max-width:992px) {
			font-size: 12px;
			line-height: inherit;
		}

		&._active {
			color: #4F4F4F;
		}
	}

	&__head-links {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;

		@media(max-width:800px) {}
	}

	&__head-row {
		display: flex;
		flex-direction: row;
		gap: 78px;
	}

	&__head {
		@include clampf(12px, 16px);
		position: relative;
		padding-bottom: 21px;
		flex: 1;

		&._mini {
			max-width: 194px;
		}
	}

	&__head-line {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0%;
		height: 1px;
		background: #fff;
		transition: width 1s;

		.block.is-inview & {
			width: 100%;
		}
	}

	&__body {
		margin-top: 79px;

		@media(max-width:1024px) {
			margin-top: 40px;
		}

		p {
			margin-left: 50%;
			max-width: calc(50% - 100px);
			transition: transform 1s, opacity 0.5s;
			opacity: 0;
			transform: translateY(50px);
			margin-bottom: 20px;

			@media(max-width:1024px) {
				margin-left: 0;
				max-width: 100%;
			}

			.block.is-inview & {
				opacity: 1;
				transform: translateY(0px);
			}
		}
	}

	.h2,
	h2 {
		max-width: 1270px;
		position: relative;
	}

	&__h2-lines {}

	&__h2-line-wrap {
		overflow: hidden;
	}

	&__h2-line- {}

	&__h2-default {
		left: 0;
		opacity: 0;
		pointer-events: none;
		width: 100%;
		position: absolute;
	}

	@for $i from 0 through 20 {
		&__h2-line-#{$i} {
			transition: transform 0.8s;
			transform: translateY(100%);
			display: inline-block;

			.block.is-inview & {
				transform: translateY(0px);
			}

			transition-delay: calc(100ms * 2 *#{$i});

		}
	}
}

.photo-slider {
	margin-bottom: 155px;
	margin-bottom: 74px;
	transform: translateX(-50%);
	left: 50%;
	min-width: 100vw;
	position: relative;
	overflow: hidden;
	cursor: none;

	* {
		cursor: none;
	}

	.swiper-slide {
		overflow: hidden;
	}

	&__cursor {
		opacity: 0;
		position: absolute;
		width: 0;
		height: 0;
		transition: opacity 0.3s;
		z-index: 111;
		pointer-events: none;

		.photo-slider:hover & {
			opacity: 1;
		}

		img {
			width: 72px;
			position: absolute;
			left: 50%;
			top: 50%;
			max-width: 72px;
			transform: translateX(-50%) translateY(-50%);

		}
	}

	&__swiper {
		position: relative;
		overflow: visible !important;

		@media(max-width:900px) {
			max-width: calc(100% - 60px);
			margin-right: 0 !important;
			margin-left: 20px !important;
		}

		.swiper-slide {
			max-width: 854px;

		}
	}

	&__desc {
		margin-top: 23px;
		font-family: Helvetica Neue;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 40px;
		color: #fff;
		text-decoration: none;
		display: block;

		&::after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			content: '';
		}
	}

	&__photo {
		overflow: hidden;
		border-radius: 15px;
		line-height: 0;
		position: relative;
		transition: box-shadow 0.3s;

		.swiper-slide-active & {
			@media(min-width:992px) {


				box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.70);
			}
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;

		}

		&::before {
			display: block;
			content: '';
			padding-bottom: 56%;

			@media(max-width:800px) {
				min-height: 300px;

			}
		}
	}
}

.next-page {
	position: relative;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 100px;

	&__wrap {}

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 15px 15px 0 0;
		overflow: hidden;
		z-index: -1;

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 1s;
			transform: scale(1.01);

			.next-page__wrap:hover & {
				transform: scale(1);
			}
		}

		&::after {
			opacity: 0.3;
			background: #191D1C;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			content: '';
		}
	}

	&__content {}

	&__title-1 {
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 250%;
		@include clampf(12px, 16px);
		letter-spacing: 11.2px;
		margin-bottom: 10px;
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;

		&::after {
			position: absolute;
			left: 0;
			top: 0;
			content: '';
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	&__number {
		position: absolute;
		left: -111px;
		top: 50%;
		transform: translateY(-50%);
		transition: opacity 0.2s;

		@media(max-width:1300px) {
			display: none;
		}
	}

	&__next {
		position: absolute;
		right: -119px;
		color: #fff;
		text-decoration: none;
		top: 50%;
		transform: translateY(-50%);
		transition: opacity 0.2s;

		@media(max-width:1300px) {
			display: none;
		}

		&:hover {
			color: $orange;
		}
	}
}

.program {
	width: 100%;

	tr {
		position: relative;
	}

	&__link {
		color: #fff;
		text-decoration: none;

		&::after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			content: '';
		}

		&:hover {
			color: $orange;
		}
	}

	td {
		padding: 20px 0px 14px 10px;
		border-left: 0 solid;
		border-right: 0 solid;
		border-top: 1px rgba(79, 79, 79, 1) solid;
		border-bottom: 1px rgba(79, 79, 79, 1) solid;

		@media(max-width:1024px) {
			padding: 16px 0px 14px 10px;
		}

		&:first-child {
			max-width: 196px;
			color: #D9D9D9;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 40px;

			@media(max-width:1024px) {
				font-size: 10px;
				min-width: 90px;
			}
		}

		&:last-child {
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-transform: uppercase;

			@media(max-width:1024px) {
				font-size: 14px;
			}
		}
	}
}

.programs-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;

	@media(max-width:800px) {
		grid-template-columns: 1fr;
		gap: 0px;
	}
}

.form {

	margin-top: 96px;

	@media(max-width:992px) {
		margin-top: 60px;
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;

		@media(max-width:992px) {
			grid-template-columns: 1fr;
		}
	}

	&__desc {
		padding-top: 37px;

		p {
			margin-left: 0;
			width: 100%;
			color: #4F4F4F;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 24px;
			max-width: 570px;
		}
	}

	&__item-radio {
		position: relative;
		color: #4F4F4F;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		cursor: pointer;

		@media (max-width: 992px) {
			font-size: 14px;
		}

		input {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;


		}

		input.error+span {
			color: red !important;
		}

		input:checked+span {
			color: #fff;
		}

	}

	&__item-radios {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0 30px;
		flex-wrap: wrap;

		@media (max-width: 420px) {
			gap: 0 10px;
		}
	}

	&__item {
		display: grid;
		grid-template-columns: 196px auto;
		padding: 17px 0px 6px 0px;
		border-top: 1px rgba(79, 79, 79, 1) solid;

		@media(max-width:992px) {
			padding: 7px 0px 6px 0px;
			grid-template-columns: 96px auto;
		}

		input {
			padding: 0;
			background: transparent;
			border: 0 solid;
			font-family: Helvetica Neue;
			font-size: 18px;
			color: #fff;
			font-weight: 400;

			&.error {
				color: red;

				&::placeholder {
					color: red
				}
			}

			@media(max-width:992px) {
				font-size: 14px;
			}

			&::placeholder {
				font-family: Helvetica Neue;
				color: #4F4F4F;
			}

		}
	}

	&__item-title {
		color: #D9D9D9;
		font-size: 14px;
		font-weight: 400;
		line-height: 40px;

		@media(max-width:992px) {
			font-size: 10px;
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		border-top: 1px rgba(79, 79, 79, 1) solid;
		border-bottom: 1px rgba(79, 79, 79, 1) solid;
		padding: 13px 0px 10px 0px;

		@media(max-width:992px) {
			padding: 20px 0px 20px 0px;
		}

		.arrow-link {
			min-width: 213px;
			margin-left: auto;
			justify-content: space-between;

			@media(max-width:992px) {
				min-width: initial;
			}
		}
	}
}

.numberlist {
	display: grid;
	gap: 70px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 150px;
	margin-bottom: 150px;

	@media(max-width:1200px) {
		gap: 44px 30px;
	}

	@media(max-width:1024px) {
		margin: 85px 0;
	}

	@media(max-width:1024px) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@media(max-width:704px) {
		grid-template-columns: 1fr 1fr;
	}

	&__number {
		color: #4F4F4F;
		font-family: Helvetica Neue;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 40px;
	}

	p {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.two-photo {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin: 150px 0;

	@media(max-width:700px) {
		grid-template-columns: 1fr;
		max-width: 500px;
	}

	@media(max-width:1024px) {
		margin: 85px 0;
	}

	img {
		width: 100%;
	}

	&>div:first-child {
		@media(max-width:700px) {
			padding: 0 !important
		}
	}

	&>div:last-child {
		@media(max-width:700px) {
			display: none;
		}
	}

	&__small {

		padding-left: 174px;

		&:first-child {
			padding-left: 0;
			padding-right: 174px;
		}
	}
}

.three-columns {
	display: grid;
	gap: 60px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 150px;
	margin-bottom: 173px;

	@media(max-width:1300px) {
		gap: 40px;
	}

	@media(max-width:1024px) {
		margin: 85px 0;
	}

	@media(max-width:704px) {
		grid-template-columns: 1fr 1fr;
	}

	&__number {
		color: #4F4F4F;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 40px;
	}

	&__title {
		color: #FFF;
		font-size: 80px;
		font-style: normal;
		font-weight: 500;

		@media(max-width:1059px) {
			display: none;
		}

		@media(max-width:1650px) {
			font-size: 65px;
		}
	}

	&__title-mob {
		@media(min-width:1060px) {
			display: none;
		}
	}

	p {
		max-width: 100%;
		margin: 0;
	}
}

.select2-container {
	width: 100% !important;
}

.select2-container--default .select2-selection--single {
	border: 0 solid !important;
	background: transparent !important;
	height: initial !important;
}

.select2-container--default .select2-results>.select2-results__options {
	max-height: 256px !important;
	height: 256px !important;
}

.select2-container--open .select2-dropdown {
	margin-top: 6px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #Fff !important;
}

.select2-dropdown {
	border: 0 solid;
	border-radius: 0 !important;
	background: #fff;
	color: #1D2120;


	li {
		padding: 23px 29px;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		color: #1D2120;
		font-family: Helvetica Neue;
		line-height: normal;
		box-shadow: 0 -1px #1D2120;
	}
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	color: #1D2120 !important;
}

.select2-selection__placeholder {
	color: #4F4F4F !important;
}

.select2-selection__rendered {
	color: $orange ;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px !important;

	@media (max-width: 992px) {
		font-size: 14px;
	}

	padding: 0 !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background: #D9D9D9 !important;
}

.select2-selection__arrow {
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5508 1L6.78095 6.70707L1.0009 0.999999' stroke='white' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
	background-position: center;
	background-repeat: no-repeat;

	b {
		display: none;
	}
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
	transform: scale(-1);
}

.air-datepicker {
	border: 0 solid;
	border-radius: 0 !important;
}

.air-datepicker-nav {
	border-bottom: 1px solid #191D1C !important;
}



.air-datepicker-cell.-day- {
	color: #4F4F4F !important;
	text-align: center;
	border-radius: 50%;
	aspect-ratio: 1/1;
	font-family: Helvetica Neue;
}

.air-datepicker-cell.-day-.-current- {
	color: $orange !important;
	;
}

.air-datepicker-body--day-name {
	&.-weekend- {
		color: $orange;
	}

	color: #000 !important;
}

.air-datepicker-body--day-name {
	color: #000 !important;
}

.air-datepicker-cell.-day-.-other-month- {
	opacity: 0.3;
}

.air-datepicker-cell.-day-.-selected- {

	background: $orange !important;
	border-radius: 50%;
}

.air-datepicker-body--day-names {
	margin-bottom: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 50% !important;
	transform: translateY(-50%);
}

.air-datepicker-cell.-selected-.-current- {
	background: $orange !important;
}

.select2.error+.select2 .select2-selection__placeholder {
	color: red !important;
}