.front-card {
	position: absolute !important;

	border-radius: 35px 35px 0px 0px;
	transform: none !important;
	top: 0;
	left: 0;
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	overflow: hidden;
	align-items: center;
	justify-content: flex-end;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 130px;

	@media(max-height:850px) {
		padding-bottom: 0;
		justify-content: center;
		padding-top: 50px;
	}


	&::before {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		border-radius: 35px 35px 0px 0px;
		height: 100%;
		display: block;
		content: '';
		opacity: 0.3;
		z-index: 2;
		background: #000;
	}

	&__content {
		text-align: center;
		color: #fff;
		position: relative;
		z-index: 4;
	}

	&__pre {
		color: #FFF;
		text-align: center;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 250%;
		letter-spacing: 11.2px;
		margin-bottom: 5px;
		text-transform: uppercase;

		@media(max-width:1024px) {
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: 40px;
			/* 333.333% */
			letter-spacing: 8.4px;
		}
	}

	&__title {
		margin-bottom: 32px;
		color: #fff;
		text-decoration: none;

		&::after {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 100vh;
			height: 100vh;
			transform: translateX(-50%) translateY(-50%);
			display: block;
			content: "";
		}

		@media(max-width:1024px) {
			margin-bottom: 21px;
		}
	}

	&__after {
		color: #FFF;
		text-align: center;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 250%;
		letter-spacing: 1.6px;
		text-transform: uppercase;

		@media(max-width:1024px) {
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: 40px;
			/* 333.333% */
			letter-spacing: 1.2px;
			text-transform: uppercase;
		}
	}

	picture {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		border-radius: 35px 35px 0px 0px;
	}

	img {

		border-radius: 35px 35px 0px 0px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0%;
		// width: 100%;
		max-width: initial;
		min-width: 100%;
		height: 100%;
		object-fit: cover;
	}

	transition: margin 1s,
	width 1s,
	top 1s !important;

}

body:has(.front) {
	.header {
		background: transparent;
	}

	#pagescroll {
		overflow: visible !important;
		position: relative;
	}
}

.front {
	--slide-offset: 20px;
	--slide-xoffset: 25px;
	padding-top: 150px;
	position: relative;
	overflow: hidden;

	@media(max-width:1024px) {
		--slide-offset: 10px;
		--slide-xoffset: 10px;
		padding-top: 67px;
	}

	&__number {
		position: absolute;
		width: var(--inner-padding);
		left: 0px;
		height: 100%;
		bottom: 0px;
		padding-bottom: 189px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-decoration: none;
		color: #FFF;

		color: #FFF;
		text-align: center;
		font-family: Helvetica Neue;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 40px;
		transition: opacity 0.3s;

		@media(max-width:1024px) {
			display: none;
		}
	}

	.inner {
		position: relative;
	}

	&__swiper {
		position: relative;
		left: 0;
		bottom: 0;
		overflow: visible !important;
		width: 100%;
		height: calc(100svh - 384px);

		@media(max-width:1024px) {
			height: calc(100svh - 210px)
		}
	}

	&__wrap {}



	&__right {
		position: absolute;
		width: var(--inner-padding);
		right: 0;
		height: 100%;
		bottom: 0px;
		padding-bottom: 189px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media(max-width:1024px) {
			display: none;
		}

		&-text {
			left: -83px;
			position: absolute;
			display: block;
			transform: rotate(90deg);
			white-space: nowrap;
			top: 200px;
		}

		&-link {
			text-decoration: none;
			color: #FFF;

			color: #FFF;
			text-align: center;
			font-family: Helvetica Neue;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 40px;
		}

		&-wrap {
			width: 32px;
			left: 50%;
			position: absolute;
			margin-left: -16px;
		}

		color: #FFF;

	}

	&__player {
		position: absolute;
		width: var(--inner-padding);
		;
		left: 0;
		bottom: 148px;

		@media(max-width:1024px) {
			left: 50%;
			z-index: 111;
			bottom: 80px;
			transform: translateX(-50%);
		}

		&-wrap {
			width: 32px;
			left: 50%;
			position: absolute;
			margin-left: -16px;

		}

		&-play {
			border: 0;
			background: transparent;
			padding: 0;
			cursor: pointer;
		}

		&-audio {
			width: 0;
			height: 0;
			position: absolute;
			left: 0;
			top: 0;
			visibility: hidden;
		}

		&-text {
			color: #4F4F4F;
			text-align: center;
			font-family: Helvetica Neue;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 250%;
			white-space: nowrap;
			position: absolute;
			display: block;
			left: -40px;
			top: -103px;

			@media(max-width:1024px) {
				display: none;
			}

			._play & {
				color: #fff;
			}

			transform: rotate(-90deg);
		}
	}
}

#front-card-1 {
	z-index: 20;
}

#front-card-2 {
	z-index: 40;
}

#front-card-3 {
	z-index: 60;
}

#front-card-4 {
	z-index: 80;
}

#front-card-5 {
	z-index: 90;
}

#front-card-6 {
	z-index: 100;
}

#front-card-7 {
	z-index: 110;
}

// #front-card-1 {
// 	width: calc(100% - var(--slide-xoffset)* 6 * 2);
// 	margin-left: calc(var(--slide-xoffset)* 6);
// 	top: calc(var(--slide-offset)* -6);
// }

// #front-card-2 {
// 	width: calc(100% - var(--slide-xoffset)* 2 * 5);
// 	margin-left: calc(var(--slide-xoffset)* 5);
// 	top: calc(var(--slide-offset)* -5);
// }

// #front-card-3 {
// 	width: calc(100% - var(--slide-xoffset)* 4 * 2);
// 	margin-left: calc(var(--slide-xoffset)* 4);
// 	top: calc(var(--slide-offset)* -4);
// }

// #front-card-4 {
// 	width: calc(100% - var(--slide-xoffset)* 3 * 2);
// 	margin-left: calc(var(--slide-xoffset)* 3);
// 	top: calc(var(--slide-offset)* -3);
// }

// #front-card-5 {
// 	width: calc(100% - var(--slide-xoffset)* 2 * 2);
// 	margin-left: calc(var(--slide-xoffset)* 2);
// 	top: calc(var(--slide-offset)* -2);
// }

// #front-card-6 {
// 	width: calc(100% - var(--slide-xoffset)* 2 * 1);
// 	margin-left: calc(var(--slide-xoffset)* 1);
// 	top: calc(var(--slide-offset)* -1);
// }


// .front__swiper[data-slide="3"] {
// 	#front-card-1 {
// 		width: calc(100% - var(--slide-xoffset)* 3 * 2);
// 		margin-left: calc(var(--slide-xoffset)* 3);
// 		top: calc(var(--slide-offset)* -3);
// 	}

// 	#front-card-2 {
// 		width: calc(100% - var(--slide-xoffset)* 2 * 2);
// 		margin-left: calc(var(--slide-xoffset)* 2);
// 		top: calc(var(--slide-offset)* -2);


// 	}

// 	#front-card-3 {
// 		width: calc(100% - var(--slide-xoffset)* 1 * 2);
// 		margin-left: calc(var(--slide-xoffset)* 1);
// 		top: calc(var(--slide-offset)* -1);


// 	}

// 	#front-card-4 {}
// }

// .front__swiper[data-slide="2"] {
// 	#front-card-1 {
// 		width: calc(100% - var(--slide-xoffset)* 2 * 2);
// 		margin-left: calc(var(--slide-xoffset)* 2);
// 		top: calc(var(--slide-offset)* -2);

// 	}

// 	#front-card-2 {
// 		width: calc(100% - var(--slide-offset)* 1 * 2);
// 		margin-left: calc(var(--slide-offset)* 1);
// 		top: calc(var(--slide-offset)* -1);


// 	}

// 	#front-card-4 {
// 		top: 110%;
// 	}
// }

// .front__swiper[data-slide="1"] {
// 	#front-card-1 {
// 		width: calc(100% - var(--slide-offset)* 1 * 2);
// 		margin-left: calc(var(--slide-offset)* 1);
// 		top: calc(var(--slide-offset)* -1);
// 	}

// 	#front-card-2 {}

// 	#front-card-4 {
// 		top: 110%;
// 	}

// 	#front-card-3 {
// 		top: 110%;
// 	}
// }

// .front__swiper[data-slide="0"] {
// 	#front-card-1 {}

// 	#front-card-2,
// 	#front-card-3,
// 	#front-card-4 {
// 		top: 110%;

// 		top: 110%;
// 	}
// }