extends ../../layout/layout
block title
	title О клубе
block content
	main(data-barba="container" data-barba-namespace="front")
		.front
			.inner  
				.front__number 01
				.front__player 
					.front__player-wrap
						
						button.front__player-play
							audio(src="audio/mp3.mp3 ").front__player-audio
							<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M21 16.0005L13 21.0005V11.5605L21 16.0005Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
								<path d="M16 31C24.2843 31 31 24.2843 31 16C31 7.71573 24.2843 1 16 1C7.71573 1 1 7.71573 1 16C1 24.2843 7.71573 31 16 31Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
							</svg>
							span.front__player-text Сейчас в клубе
				.front__right 
					.front__right-wrap
						a.front__right-link(href="club-card.html")
							span.front__right-number 05
							span.front__right-text Женская клубная карта

				.front__swiper
					.front-card#front-card-1(data-number="07")
						+picture('f-c-1','jpg')
						.front-card__content
							.front-card__pre О КЛУБЕ
							a.h1.front-card__title(href="about.html") Афтепати — это 
								i Микс
							.front-card__after Мекка афтэпати в Москве
		
					.front-card#front-card-2(data-number="06")
						+picture('f-c-2','jpg')
						.front-card__content
							.front-card__pre О КЛУБЕ
							a.h1.front-card__title(href="about.html") Афтепати — это 
								i Микс
							.front-card__after Мекка афтэпати в Москве
			
					.front-card#front-card-3(data-number="05")
						+picture('f-c-3','jpg')
						.front-card__content
							.front-card__pre О КЛУБЕ
							a.h1.front-card__title(href="about.html") Афтепати — это 
								i Микс
							.front-card__after Мекка афтэпати в Москве
				
					.front-card#front-card-4(data-number="04")
						+picture('f-c-4','jpg')
						.front-card__content
							.front-card__pre О КЛУБЕ
							a.h1.front-card__title(href="about.html") Афтепати — это 
								i Микс
							.front-card__after Мекка афтэпати в Москве

					.front-card#front-card-5(data-number="03")
						+picture('f-c-3','jpg')

						.front-card__content
							.front-card__pre О КЛУБЕ
							a.h1.front-card__title(href="about.html") Афтепати — это 
								i Микс
							.front-card__after Мекка афтэпати в Москве

					.front-card#front-card-6(data-number="02")
						+picture('f-c-2','jpg')
						.front-card__content
							.front-card__pre О КЛУБЕ
							a.h1.front-card__title(href="about.html") Афтепати — это 
								i Микс
							.front-card__after Мекка афтэпати в Москве

					.front-card#front-card-7(data-number="01")
						+picture('f-c-1','jpg')
					
						.front-card__content
							.front-card__pre О КЛУБЕ
							a.h1.front-card__title(href="about.html") Афтепати — это 
								i Микс
							.front-card__after Мекка афтэпати в Москве

