extends ../../layout/layout
block title
	title Контакты
block content
	main(data-barba="container" data-barba-namespace="contact")
		.inner
			.block(data-scroll data-scroll-delay="0.6") 
				.block__body
					h1 Hello,
						br
						| We are 
						i club «Mix»
						br
						| Welcome.
	
			.block(data-scroll data-scroll-delay="0.6") 	
				.block__head 
					.block__head-links
						span._mr-auto Адрес
						a(href="afisha.html").arrow-link
							span Заказать такси
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="13" viewBox="0 0 20 13" fill="none">
								<path d="M12.7305 0.710938L18.3805 6.36094L12.7305 12.0209" stroke="" stroke-width="2" stroke-miterlimit="10"/>
								<path d="M17.07 6.35938H0" stroke="" stroke-width="2" stroke-miterlimit="10"/>
							</svg>
							
				.block__body
					.h2 г. Москва, ул. 1-я Брестская, 2, стр. 3
			
			.block(data-scroll data-scroll-delay="0.6") 	
				.block__head 
					.block__head-links
						span._mr-auto Резерв
						a(href="tel:+74957486199").arrow-link
							span Позвонить
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="13" viewBox="0 0 20 13" fill="none">
								<path d="M12.7305 0.710938L18.3805 6.36094L12.7305 12.0209" stroke="" stroke-width="2" stroke-miterlimit="10"/>
								<path d="M17.07 6.35938H0" stroke="" stroke-width="2" stroke-miterlimit="10"/>
							</svg>
							
				.block__body
					a.h2(href="tel:+74957486199") +7 (495) 748-61-99
			
			.block(data-scroll data-scroll-delay="0.6")
				.block__head 
					.block__head-links
						span._mr-auto Почта
						a(href="mailto:newmixafterparty@gmail.com").arrow-link
							span Написать
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="13" viewBox="0 0 20 13" fill="none">
								<path d="M12.7305 0.710938L18.3805 6.36094L12.7305 12.0209" stroke="" stroke-width="2" stroke-miterlimit="10"/>
								<path d="M17.07 6.35938H0" stroke="" stroke-width="2" stroke-miterlimit="10"/>
							</svg>
							
				.block__body
					a.h2(href="mailto:newmixafterparty@gmail.com") newmixafterparty@gmail.com
			.block(data-scroll data-scroll-delay="0.6")
				.block__head Время работы
				.block__body
					.h2 Пятница и суббота с 00:00 до 12:00
			.block(data-scroll data-scroll-delay="0.6")
				.block__head Социальные сети
				.block__body
					.h2 Пятница и суббота с 00:00 до 12:00

			
			