.social-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px 30px;

	@media(min-width:1200px) {
		gap: 10px 60px;
	}
}

.ur-adress {
	p {
		width: 100%;
		margin-left: 0;
	}

	a {
		color: rgb(255, 96, 44);

		&:hover {
			text-decoration: none;
		}
	}
}