.svg-map {
	.relative {
		min-width: 800px;
	}

	&__scroll {
		overflow: auto;

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}

	svg {
		min-width: 800px;
	}

	.book {
		cursor: pointer;

		&._busy,
		&:hover {
			.door {
				path {
					fill: #fff !important;
				}
			}

			rect,
			path[fill] {
				fill: $orange ;
			}
		}

		rect,
		path[fill] {
			fill: #Fff;
		}

		path[fill="black"] {
			fill: black !important;
		}

		.circle {
			stroke: black !important;
			fill: #fff !important;
		}

		.door {
			path {
				fill: #000 !important;
			}
		}

		&[data-table="vip"] {
			.text {
				fill: #fff !important;
			}

			&._busy,
			&:hover {


				rect,
				path[fill] {
					fill: $orange ;
				}
			}

			rect,
			path[fill] {
				fill: rgb(75, 76, 76);
			}
		}
	}

	&__legends {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 85px;
		margin-top: 93px;
		margin-bottom: 113px;
		justify-content: center;

		@media(max-width:992px) {
			margin-top: 43px;
			gap: 32px;
			margin-bottom: 83px;
		}
	}

	&__legend {
		display: flex;
		flex-direction: row;
		gap: 9px;
		align-items: center;

		@media(max-width:992px) {

			font-size: 10px;
		}

		&-marker {
			width: 20px;
			height: 20px;
			transform: translateY(-2px);

		}
	}
}

.relative {
	position: relative;
}

.book-number {
	font-family: Arial;
	font-weight: 500;
	font-size: 20px;
	position: absolute;
	z-index: 10;
	color: #000;
	text-align: center;
	font-size: calc(0.015 * (100vw - 2*var(--inner-padding)));
	width: 2.8%;
	line-height: calc(0.015 * (100vw - 2*var(--inner-padding)));
	pointer-events: none;

	@media(max-width:800px) {
		font-size: calc(0.015 * 800px);
		width: 2.8%;
		line-height: calc(0.015 * 800px);
	}

	&._vip-1 {
		left: 31.17%;
		top: 32%;
	}

	&._vip-2 {
		left: 46.4%;
		top: 32%;
	}

	&._vip-3 {
		left: 61.5%;
		top: 32%;
	}

	&._vip-4 {
		left: 76.8%;
		top: 32%;
	}

	&._table-1 {
		left: 5.7%;
		top: 34.3%;
	}

	&._table-2 {
		left: 5.7%;
		top: 50.2%;
	}

	&._table-3 {
		left: 25.5%;
		top: 85.6%;
	}

	&._table-4 {
		left: 49.3%;
		top: 85.6%;
	}

	&._table-5 {
		left: 62.5%;
		top: 85.6%;
	}

	&._table-6 {
		left: 85.6%;
		top: 85.6%;
	}

	&._table-7 {
		left: 42.3%;
		top: 57.4%;
	}

	&._table-8 {
		left: 72.3%;
		top: 57.4%;
	}

	&._table-9 {
		left: 6.7%;
		top: 11.5%;
	}

	&._table-10 {
		left: 19.7%;
		top: 12.0%;
	}

	&._table-11 {
		left: 36.9%;
		top: 12.0%;
	}

	&._table-12 {
		left: 48.87%;
		top: 12.0%;
	}

	&._table-13 {
		left: 61.4%;
		top: 12.0%;
	}
}

.svg-map {
	position: relative;
}