.svg-map {

	&__scroll {
		overflow: auto;

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}

	svg {
		min-width: 800px;
	}

	.book {
		cursor: pointer;

		&._busy,
		&:hover {
			.door {
				path {
					fill: #fff !important;
				}
			}

			rect,
			path[fill] {
				fill: $orange ;
			}
		}

		rect,
		path[fill] {
			fill: #Fff;
		}

		path[fill="black"] {
			fill: black !important;
		}

		.circle {
			stroke: black !important;
			fill: #fff !important;
		}

		.door {
			path {
				fill: #000 !important;
			}
		}

		&[data-table="vip"] {
			.text {
				fill: #fff !important;
			}

			&._busy,
			&:hover {


				rect,
				path[fill] {
					fill: $orange ;
				}
			}

			rect,
			path[fill] {
				fill: rgb(75, 76, 76);
			}
		}
	}

	&__legends {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 85px;
		margin-top: 93px;
		margin-bottom: 113px;
		justify-content: center;

		@media(max-width:992px) {
			margin-top: 43px;
			gap: 32px;
			margin-bottom: 83px;
		}
	}

	&__legend {
		display: flex;
		flex-direction: row;
		gap: 9px;
		align-items: center;

		@media(max-width:992px) {

			font-size: 10px;
		}

		&-marker {
			width: 20px;
			height: 20px;
			transform: translateY(-2px);

		}
	}
}