body:has(#popup-template) {
	.header {
		display: none;
	}
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: $dark;
	padding: 50px 0;
	z-index: 1111;

	@media(max-width:1024px) {
		padding: 15px 0;
	}

	&__row {

		height: 72px;
		align-items: center;
		position: relative;
		z-index: 222;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__logo {
		transform: translateX(-50%) translateY(-50%);
		position: absolute;
		left: 50%;
		top: 50%;
		transition: filter 0.3s;

		._open-menu & {
			// filter: brightness(0);
		}

		img {
			height: 72px;

			@media(max-width:1024px) {
				height: 43px;
			}
		}
	}

	&__open-menu {
		background: transparent;
		border: 0 solid;
		padding: 0;
	}

	&__open-menu,
	&__contact {
		color: #fff;
		transition: color 0.3s;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 40px;
		text-decoration: none;
		cursor: pointer;
		width: calc(var(--inner-padding));
		;
		text-align: center;
		display: inline-block;

		@media(max-width:1300px) {
			position: relative;
			width: inherit;
			left: 0;
			right: 0;
			margin: 0;
		}

		._open-menu & {


			&:hover {
				color: $orange;
			}
		}




		&:hover {
			color: $orange;
		}
	}

	&__open-menu {
		margin-left: calc(-1 * var(--inner-padding));

		span {
			&:last-child {
				display: none;
			}
		}

		._open-menu & {
			span {
				&:first-child {
					display: none;
				}

				&:last-child {
					display: inline;
				}
			}
		}
	}

	&__contact {
		margin-right: calc(-1 * var(--inner-padding));
	}
}

.header-menu {
	background: $dark;

	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100svh;
	opacity: 0;
	transition: opacity 0.3s;
	pointer-events: none;

	.header._open-menu & {
		pointer-events: initial;
		opacity: 1;
	}

	&__wrap {
		height: 100svh;
		display: flex;
		flex-direction: column;
		padding-top: 172px;
		position: relative;
		padding-bottom: 62px;

		@media(max-width:992px) {
			padding-bottom: 50px;
			padding-top: 121px;
		}
	}

	&__lang {
		position: absolute;
		width: 194px;
		color: #fff;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		line-height: 40px;
		right: 100%;
		text-decoration: none;
		bottom: 130px;
		bottom: 141px;


		@media(max-width:992px) {
			position: relative;
			right: 0;
			bottom: 0;
			line-height: 40px;
			width: 100%;
			text-align: center;
			margin-top: 13px;
		}

		&:hover {
			color: $orange;
		}
	}

	&__card {
		position: absolute;
		width: 194px;
		color: #fff;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		text-decoration: none;
		line-height: 40px;
		left: 100%;
		bottom: 141px;

		&:hover {
			color: $orange;
		}
	}

	&__copy {
		color: #fff;
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		padding-top: 37px;
		padding-bottom: 37px;

		@media(max-width:992px) {
			padding-top: 5px;
			padding-bottom: 10px;
		}
	}

	&__item-card.header-menu__item {
		@media(min-width:993px) {
			display: none;
		}

	}

	&__list {
		display: flex;
		flex-direction: column;
		flex: 1;
		border-bottom: 1px solid#ffffff2f;
		counter-reset: counter1 0;

		li {
			counter-increment: counter1;
			border-top: 1px solid #ffffff2f;
			display: flex;
			flex-direction: column;
			flex: 1;
			justify-content: center;

			flex: 1;
			align-items: flex-start;

			&:nth-child(2) {
				align-items: flex-end;

				a {
					margin-right: 10%;
				}
			}

			&:nth-child(3) {
				a {
					margin-left: 25%;
				}
			}

			&:nth-child(4) {
				a {
					margin-right: 20%;
				}

				align-items: flex-end;
			}

			&:nth-child(6) {
				a {
					margin-right: 12%;
				}

				align-items: flex-end;
			}

			a {
				position: relative;
				color: #fff;
				text-decoration: none;
				font-size: calc(((100svh - 250px)/7)*0.65);
				font-style: normal;
				font-weight: 400;
				padding-left: 39px;
				position: relative;
				line-height: 50%;
				display: inline-block;
				transition: color 0.35s;
				transform: translateY(20%);

				@media(max-width:992px) {
					font-size: calc(((100svh - 250px)/7)*0.5);
					padding-left: 18px;
				}

				&:hover {
					color: $orange;
				}

				&::before {
					color: #fff;
					font-family: Helvetica Neue;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 40px;
					position: absolute;
					left: 0;
					top: 0;
					transform: translateY(-80%);
					text-transform: uppercase;
					content: "0" counter(counter1);

					@media(max-width:992px) {
						top: 5px;
						font-size: 12px;
					}
				}
			}
		}
	}
}