header.header
	.inner
		.header__row
			button.header__open-menu 
				span Меню
				span Закрыть
			a(href="front.html").header__logo
				+picture("logo",'png')
			a.header__contact(href="contact.html") Контакты
		.header-menu
			.inner
				.header-menu__wrap
					ul.header-menu__list
						li.header-menu__item
							a(href="about.html") О клубе 
						li.header-menu__item
							a(href="afisha.html") Афиша
						li.header-menu__item
							a(href="kitchen.html") Еда & Бар 
						li.header-menu__item
							a(href="reserv.html") Резерв 
						li.header-menu__item
							a(href="corporate.html") Корпоратив
						li.header-menu__item
							a(href="gallery.html") Фото
						li.header-menu__item.header-menu__item-card
							a(href="club-card.html") Клубная карта
					a.header-menu__lang(href="/eng") Eng
					a.header-menu__card(href="club-card.html") Card
					.header-menu__copy МИКС Afterparty © 2023 All Rights Reserved 
			include ../footer/footer