footer.footer 
	.footer__row 
		.footer__line 22-23 JUNE — SUMMER SESSIONS. EPISODE 1 - CHINA TOWN • 22-23 JUNE — SUMMER SESSIONS. EPISODE 1 - CHINA TOWN • 22-23 JUNE — SUMMER SESSIONS. EPISODE 1 - CHINA TOWN •
		.footer__line 22-23 JUNE — SUMMER SESSIONS. EPISODE 1 - CHINA TOWN • 22-23 JUNE — SUMMER SESSIONS. EPISODE 1 - CHINA TOWN • 22-23 JUNE — SUMMER SESSIONS. EPISODE 1 - CHINA TOWN • 