.footer {
	overflow: hidden;
	background-color: $orange;
	color: #000;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-top: 22px;
	padding-bottom: 22px;
	white-space: nowrap;

	@keyframes marquee {
		0% {
			transform: translate(0, 0);
		}

		100% {
			transform: translate(-100%, 0);
		}
	}

	@keyframes marquee2 {
		0% {
			transform: translate(100%, 0);
		}

		100% {
			transform: translate(0, 0);
		}
	}

	&__row {
		position: relative;
		left: 0;
		height: 17px;
	}

	&__line {
		position: absolute;
		left: 0;
		top: 0;

		&:nth-child(1) {
			animation: marquee 15s linear infinite;
		}

		&:nth-child(2) {

			animation: marquee2 15s linear infinite;
		}
	}
}