._kitchen-row {
	@media(max-width:992px) {
		display: grid;
		grid-template-columns: 1fr;
		gap: 12px;
	}
}

.menu-view {
	margin-bottom: 50px;

	img {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		display: block;
		width: 1200px;
	}
}