extends ../../layout/layout
block title
	title Ошибка
block content
	main(data-barba="container" data-barba-namespace="about")
		.inner
			
			.block(data-aos data-aos-delay="0.6") 
				.block__head 
					.block__head-links
						span._mr-auto Ошибка
						
				.block__body  
				
					h1 Попробуйте позже